<section class="quality">
  <hw-container>
    <div class="container">
      <div class="left-half">
        <h1 class="title noselect">We Choose Quality</h1>
        <h2 class="sub-title noselect">designed with all Fitbit features
          you use daily and love</h2>
        <div class="invisible-block"></div>
        <hw-button class="button noselect" buttonText="discover quality" buttonColorType="ligth"
          (clickAction)="onClick()">
        </hw-button>
      </div>
      <div class="right-half"></div>
    </div>
  </hw-container>
  <div class="image-layer"></div>
  <div class="pregress-bar-animation"></div>
</section>