@import "../../colors";

.hw-button {
  background-color: #ff9505;
  color: $hw-white-color;
  border-radius: 10px;
  padding: 10px 40px 10px;
  font-weight: bold;
  font-size: 1.4vw;
  width: fit-content;
}
