@import 'swiper/swiper-bundle.css';
@import './../../../styles.scss';

.swiper-container {
    width: 100%;
    // outline: 1px solid red;
}

.watch {
    width: 100%;
    height: 100%;
}

.swiper-wrapper{
    width: 100% !important;
}


// Small devices (landscape phones)
@media (min-width: $breakpoint-small-device) { 
    .watch {
        width: 100%;
        height: 100%;
    }
}


// Medium devices (tablets)
@media (min-width: $breakpoint-medium-device) {
    .watch {
        width: 100%;
        height: 100%;
    }
}
