<div class="swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide"><img class="watch" src="../../../assets/images/cf-slide1.png" alt="Fitbit Versa 2"></div>
    <div class="swiper-slide"><img class="watch" src="../../../assets/images/cf-slide2.png" alt="Fitbit Versa 2"></div>
    <div class="swiper-slide"><img class="watch" src="../../../assets/images/cf-slide3.png" alt="Fitbit Versa 2"></div>
    <div class="swiper-slide"><img class="watch" src="../../../assets/images/cf-slide4.png" alt="Fitbit Versa 2"></div>
  </div>
</div>