@import './../../../../styles.scss';

.subscribe {
    background-color: $primary-color;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-top: -4px;


    .email-form {
        margin: 15px auto;
    }

    .email-input{
        display: block;
        background-color: #3D51D3;
        border-radius: 40px;
        padding: 27px 20px;
        box-sizing: border-box;
        width: 245px;
        border: none;
        font-family: $primary-font;
        font-weight: 800;
        font-size: 0.8rem;
        color: $primary-white;
        margin: 10px auto;
    }
    
    .above-title{
        text-transform: uppercase;
        font-family: $primary-font;
        font-weight: 800;
        font-size: 0.9rem;
        color: $primary-white;
        margin-bottom: 10px;
    }

    .title {
        text-transform: uppercase;
        font-family: $primary-font;
        font-weight: 900;
        font-size: 2.6rem;
        color: $primary-white;
        margin: 0;
        margin-bottom: 10px;
    }

    .sub-title{
        text-transform: uppercase;
        font-family: $primary-font;
        font-weight: 800;
        font-size: 0.9rem;
        color: $primary-white;
        margin-bottom: 10px;
    }

    .discount{
        font-size: 2rem;
        font-weight: 900;
        
    }
    .privacy {
        font-family: $primary-font;
        opacity: 0.31;
        color: $primary-white;
        font-size: 0.81rem;
    }

    .lock-icon{
        width: 10px;
        color: white;
    }

    // Medium devices (tablets)
    @media (min-width: $breakpoint-medium-device) { 

        .title {
            font-size: 4.4rem;
        }

        .email-form{
            margin: 30px auto;
            display: flex;
            flex-direction:row;
            background-color: #3D51D3;
            border-radius: 40px;
            padding: 10px;
            max-width: 700px;
        }
    
        .email-input{
            box-sizing: border-box;
            background-color: #3D51D3;
            flex-grow:2;
            border: none;
            margin-left: 4%;
            margin-right: 10px;
            font-family: $primary-font;
            font-weight: 800;
            font-size: 1rem;
            color: $primary-white;
            margin-bottom: 0;
            padding: 0;
            margin-top: 0;
        }

        .button{
            margin-left: 0;
        }
        
        .privacy {
            font-family: $primary-font;
            opacity: 0.31;
            color: $primary-white;
            font-size: 1rem;
        }

        .lock-icon{
            width: 15px;
            color: white;
        }
    }
}