@import './../styles.scss';

:host {
    .main-container{
        max-width: 1440px;
        min-width: 320px;
        margin: auto;
    }
    
}
.navigation{
    text-align: center;
    font-family: "Vidaloka";
    text-transform: uppercase;
    height: 70px;
    line-height: 80px;
    font-size: 22px;
}


