@import "../../colors";
@import "../../variables";

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
  padding-right: 10px;
  padding-left: 10px;
}

.clockfaces {
  background-color: transparent;
  margin-top: 30px;
  font-family: "Viga", serif;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 180px));
  grid-gap: 24px;
}

.category-title {
  text-align: left;
  font-size: 2em;
  margin-bottom: 30px;
  font-family: $hw-font-text;
  font-weight: 900;
  color: $hw-black-color;
}

.category-section {
  margin-top: 50px;
}

.slick-dots {
  text-align: left;
  li {
    width: 30px;
    button:before {
      font-size: 15px;
      line-height: 15px;
    }
  }
}
