@import "../../variables";
@import "../../colors";
.hw-header {
  grid-column: 1 / span2;
}
.header-logo {
  font-family: $hw-font;
  font-weight: 400;
  font-size: 24px;
  color: $hw-black-color;
  margin-top: 10px;
  margin-bottom: 10px;
}
