<section class="hero">
  <hw-container>
    <h1 class="title noselect">The Best <span>Fitbit</span> Clock Faces & Apps</h1>
    <h2 class="sub-title noselect">BEATIFUL DESIGNS FOR FITBIT VERSA FAMILY AND FITBIT IONIC</h2>
    <img class="hero-image" src="../assets/images/halloween/versa3.jpg" alt="Fitbit Versa 3" loading=lazy>
    <hw-button class="hero-button noselect" buttonColorType="dark" buttonText="browse it now" (clickAction)="onClick()">
    </hw-button>
  </hw-container>
  <img class="hero-image-mob" src="../assets/images/halloween/versa3-mob.jpg" alt="Fitbit Versa 3">
</section>