<section class="hero">
  <hw-container>
    <h1 class="title">We Make <span>Fitbit</span> Clock Faces & Apps</h1>
    <h2 class="sub-title">BEATIFUL DESIGNS FOR fITBIT VERSA FAMILY AND FITBIT IONIC</h2>
    <hw-button class="hero-button" buttonText="explore our collection"></hw-button>

    <div class="clock-face-slider">
      <div class="container">
        <img class="watch" src="../assets/images/versa2.png" alt="Fitbit Versa 2">
        <hw-swiper class="swiper"></hw-swiper>
      </div>
    </div>
  </hw-container>
</section>