<section class="questions">
  <hw-container>
    <div class="container">
      <h1 class="title">QUESTIONS & ANSWERS</h1>
      <div class="half-half">
        <div class="left-half">
          <img src="./../../../assets/images/fitbit-ionic.png" alt="">
        </div>
        <div class="right-half">
          <div class="question">
            <div class="question-title">
              <span class="question-q">Q1:</span>
              <h2>How do I purchase a Clock Face?</h2>
            </div>
            <p class="question-text">Head to the website shown on your watch or <hw-link linkText="ksl.io/code">
              </hw-link> and type
              the
              5
              digit code in.</p>
          </div>
          <div class="question">
            <div class="question-title">
              <span class="question-q">Q2:</span>
              <h2>I have already paid but see the code again?</h2>
            </div>
            <p class="question-text">When you see the code again on already owned Clock Face enter the new 5 digit
              <hw-link linkText="code here"></hw-link>.
              Your Clock Face will instantly unock for free.</p>
          </div>
          <div class="link-to-faq">
            <a class="link-faq" href="#">See more qustions and answers</a>
            <hr class="link-hr">
          </div>
        </div>
        <div class="link-to-faq-mob">
          <a class="link-faq" href="#">See more qustions and answers</a>
          <hr class="link-hr">
        </div>
      </div>
    </div>
  </hw-container>
</section>