<section class="questions">
  <hw-container>
    <div class="container">
      <h1 class="title">QUESTIONS & ANSWERS</h1>
      <div class="half-half">
        <div class="left-half">
          <img src="./../../../assets/images/fitbit-ionic.png" alt="">
        </div>
        <div class="right-half">
          <div class="question-container">
            <div class="question-q-large">Q1:</div>
            <div class="question">
              <div class="question-title">
                <span class="question-q">Q1:</span>
                <h2>How do I purchase a clock face?</h2>
              </div>
              <p class="question-text">Head to the website shown on your watch or go to <hw-link
                  url="https://kiezelpay.com/code/" linkText="ksl.io/code">
                </hw-link> and type
                the code you see on the watch.</p>
            </div>
          </div>
          <div class="question-container">
            <div class="question-q-large">Q2:</div>
            <div class="question">
              <div class="question-title">
                <span class="question-q">Q2:</span>
                <h2>Already purchased but see the code again?</h2>
              </div>
              <p class="question-text">When you see the code again on already purchased / owned clock face enter that
                new
                <hw-link url="https://kiezelpay.com/code/unlock" linkText="code here"></hw-link>.
                Your clock face will be instantly unocked for free.</p>
            </div>
          </div>
          <div class="link-to-faq">
            <a class="link-faq" href="#">See more qustions and answers</a>
            <hr class="link-hr">
          </div>
        </div>
        <div class="link-to-faq-mob">
          <a class="link-faq" href="#">See more qustions and answers</a>
          <hr class="link-hr">
        </div>
      </div>
    </div>
  </hw-container>
</section>