@import './../../../styles.scss';
.questions{
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;

    .title {
        text-transform: uppercase;
        font-family: $primary-font;
        font-weight: 900;
        font-size: 2.5rem;
        color: $primary-color;
        margin: 0;
        margin-bottom: 20px;
        text-align: center;
       
    }

    .half-half {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px
    }

    .left-half{
        //outline: 1px solid red;
        img {
            display: block;
            width: 70%;
            margin: auto;
        }
    }

    .right-half {
        margin: auto;
    }

    .question{
        margin-bottom: 20px;
    }

    .link-faq{
        font-family: $primary-font;
        text-align: center;
        color:$primary-color;
        font-weight: 900;
        text-decoration: none;
        text-transform: uppercase;
    }

    .link-hr{
        width: 120px;
        margin: auto;
        height: 5px;
        background-color: $primary-color;
        border: none;
        border-radius: 40px;
        margin-top: 10px;
    }

    .link-to-faq-mob{
        text-align: center;
    }

    .question-title{
        display: flex;
        max-width: 360px;
        .question-q {
            font-family: $primary-font;
            font-weight: 900;
            font-size: 40px;
            margin-right: 10px;
        }
        h2 {
            font-family: $primary-font;
            font-weight: 900;
            font-size: 16px;
            align-self: center;
        }
    }

    .question-text {
        margin-top: 10px;
        font-family: $primary-font;
        max-width: 360px;
    }

    .link-to-faq {
        display: none;
    }

    .question-q-large {
        display: none;
    }

    

    // Medium devices (tablets)
    @media (min-width: $breakpoint-medium-device) { 
        
        .title {
            font-size: 4.4rem;
        }

        .half-half {
            grid-template-columns: 1fr 1fr;
        }

        .question-q{
            display: none;
        }

        .link-to-faq {
            text-align: center;
            display: block;
            margin-top: 5%;
        }

        .link-to-faq-mob{
            display: none;
        }

        .question-container {
            display: flex;
            margin-bottom: 40px;
        }

        .question-q-large {
            display: block;
            font-family: $primary-font;
            font-weight: 900;
            font-size: 55px;
            align-self: flex-start;
            width: 150px;
        }
    }

    // Extra large devices (large desktops, 1440px and up)
    @media (min-width: $breakpoint-extra-large-device) { 
        .question-q-large {
            display: block;
            font-family: $primary-font;
            font-weight: 900;
            font-size: 70px;
            align-self: flex-start;
            width: 170px;
        }
    }
}