@import "../../colors";
@import "../../variables";

.minicard {
  border-radius: 15px;
  background-color: white;
  box-shadow: rgba(64, 95, 107, 0.15) 0px 0px 10px 0px;
  overflow: hidden;
}
.minicard:hover {
  cursor: pointer;
}
.minicard-details {
  box-sizing: border-box;
  padding: 15px;
  text-align: left;
  font-family: $hw-font-text;
  font-weight: 900;
  color: $hw-black-color;
}
