
// https://superdevresources.com/tools/color-shades#e5b534
$hw-accent-color: #e5b534;
$hw-accent-shade-lvl-1: #cb9b1a;
$hw-accent-shade-lvl-2: #9e7914;
$hw-accent-shade-lvl-3: #71560e;
$hw-accent-tint-lvl-1: #ebc561;
$hw-accent-tint-lvl-2: #f1d68e;
$hw-accent-tint-lvl-3: #f6e6bb;

$hw-white-color: #fdfdff;

// https://www.canva.com/colors/color-meanings/jet-black/
$hw-black-color: #282120;
$hw-black-tint-lvl-1: #212121;
$hw-black-tint-lvl-2: #383838;
$hw-black-tint-lvl-3: #4F4F4F;

$hw-grey-color: #949494;
$hw-grey-shade-lvl-1: #7D7D7D;
$hw-grey-shade-lvl-2: #666666;

$hw-shadow: rgb(27, 27, 34);




