@import url("https://fonts.googleapis.com/css?family=Vidaloka|Viga");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  cursor: pointer;
}

.App {
  text-align: center;
  display: grid;
}

header,
footer {
  grid-column: 1 / span2;
}
.grid {
  display: grid;
}
.main-grid {
  display: grid;
}
.App-logo {
  font-family: "Vidaloka", serif;
  font-size: 24px;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}
.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  padding-right: 10px;
  padding-left: 10px;
  /* outline: 1px solid red; */
}
.hero {
  font-family: "Viga", serif;
  width: 100%;
  background-color: black;
  color: white;
  padding: 5% 0 5% 0;
}
.hero-grid {
  display: grid;
  grid-gap: 5%;
  grid-template-columns: 1fr 1fr;
}
.hero-image img {
  width: 100%;
  height: 100%;
}
.hero h1 {
  font-size: 70px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.hero-text {
  text-align: left;
}
.hero-text p {
  font-size: 24px;
  margin-bottom: 5px;
  margin-top: 5px;
  line-height: 1.5em;
}
.hero-button {
  margin-top: 3%;
  border: 0;
  font-size: 24px;
  padding: 2% 20%;
  text-align: center;
  font-family: "Viga", serif;
  color: white;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid white;
}
.hero-content {
  text-align: left;
}

.hero-button:hover {
  background-color: white;
  color: black;
}
.clockfaces {
  margin-top: 30px;
  font-family: "Viga", serif;
}
.clock-button {
  font-family: "Viga", serif;
}
.clockfaces-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
}
.clockface {
  color: white;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.clockface-image {
  padding: 20px;
  background-color: white;
  position: relative;
}
.clockface-image .clockface-type {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0;
}
.clockface img {
  object-fit: cover;
  width: 100%;
}
.clock-button {
  background-color: transparent;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid black;
  color: black;
}
.clock-button:hover {
  background-color: black;
  color: white;
}
.clockface-content {
  padding: 20px;
  text-align: left;
  font-size: 24px;
  background-color: black;
}
.clockface-content h3 {
  margin-bottom: 20px;
}
.clockface-downloadbtn {
  font-weight: bold;
  width: 100%;
  border: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 23px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
.clockface-downloadbtn:hover {
  color: black;
  background-color: white;
  border: 1px solid white;
}

@media only screen and (max-width: 920px) {
  .hero-text h1 {
    font-size: 8vw;
  }
  .hero-text p {
    font-size: 2.3vw;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .hero-button {
    font-size: 2vw;
  }
}
@media only screen and (max-width: 450px) {
  .hero-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .hero-text h1 {
    font-size: 50px;
  }
  .hero-text p {
    font-size: 24px;
  }
  .hero-text {
    text-align: center;
  }

  .hero-button {
    font-size: 24px;
  }
  .hero-content {
    text-align: center;
  }
}

footer {
  margin-top: 50px;
  background-color: black;
  width: 100%;
  height: 100px;
}
