@import url("https://fonts.googleapis.com/css?family=Vidaloka|Viga");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
a,
button {
  cursor: pointer;
  background: none;
  border: none;
}
button:hover {
  cursor: pointer;
  background: none;
}
.upBtn {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 50px;
}
.sub-title {
  text-align: left;
  font-size: 2em;
  margin-bottom: 30px;
  margin-top: 50px;
}
.modal {
  color: black;
}
.modal-content h3 {
  font-size: 24px;
}
.modal-content p {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.App {
  text-align: center;
  display: grid;
}

header,
footer {
  grid-column: 1 / span2;
}
.grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}
.main-grid {
  display: grid;
}
.App-logo {
  font-family: "Vidaloka", serif;
  font-size: 24px;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}
.App-header a:active,
.App-header a:visited,
.App-header a:link,
.App-header a:hover {
  color: black;
}
.white {
  color: white;
}
.font-18 {
  font-size: 18px;
}
.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  padding-right: 10px;
  padding-left: 10px;
  /* outline: 1px solid red; */
}
.hero {
  font-family: "Viga", serif;
  width: 100%;
  background-color: black;
  color: white;
  padding: 5% 0 5% 0;
}
.hero-grid {
  display: grid;
  grid-gap: 5%;
  grid-template-columns: 1fr 1fr;
}
.faq-grid {
  display: grid;
}
.faq-grid h1 {
  margin-top: 10px;
  text-align: center;
  font-size: 28px;
  font-family: "Viga", serif;
}
.tabs {
  font-family: "Viga", serif;
  text-align: left;
  margin-top: 30px;
}
.tabs li {
  display: inline;
  margin-right: 15px;
  font-family: "Viga", serif;
  font-size: 18px;
  cursor: pointer;
  padding: 0;
}

.react-tabs__tab--selected {
  border-bottom: 5px solid black;
}

.questoncard {
  text-align: left;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.questoncard h2 {
  font-size: 22px;
  font-family: "Viga", serif;
  margin-bottom: 10px;
}
.questoncard p {
  font-size: 16px;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.6;
}
.faqlink {
  text-decoration: underline;
  color: #279fcd;
  font-weight: bold;
}
.hero-image img {
  width: 100%;
  height: 100%;
}
.hero h1 {
  font-size: 70px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.hero-text {
  text-align: left;
}
.hero-text p {
  font-size: 24px;
  margin-bottom: 5px;
  margin-top: 5px;
  line-height: 1.5em;
}
.hero-button {
  margin-top: 3%;
  border: 0;
  font-size: 24px;
  padding: 2% 20%;
  text-align: center;
  font-family: "Viga", serif;
  color: white;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid white;
}
.hero-content {
  text-align: left;
}

.hero-button:hover {
  background-color: white;
  color: black;
}
.clockfaces {
  margin-top: 30px;
  font-family: "Viga", serif;
}
.clock-button {
  font-family: "Viga", serif;
}
.clockfaces-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
}
.clockface {
  position: relative;
  color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.clockface-image {
  padding: 20px;
  background-color: white;
  position: relative;
}
.clockface-image .clockface-type {
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 0;
}
.clockface img {
  object-fit: cover;
  width: 100%;
}
.clock-button {
  background-color: transparent;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid black;
  color: black;
}

.clock-button:hover,
.clock-button--active {
  background-color: black;
  color: white;
}
.clockface-content {
  padding: 20px;
  text-align: left;
  font-size: 24px;
  background-color: black;
}
.clockface-content h3 {
  margin-bottom: 20px;
  text-align: center;
}
.clockface-downloadbtn {
  font-weight: bold;
  text-align: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 23px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
.clockface-downloadbtn:hover {
  color: black;
  background-color: white;
  border: 1px solid white;
}

@media only screen and (max-width: 920px) {
  .hero-text h1 {
    font-size: 8vw;
  }
  .hero-text p {
    font-size: 2.3vw;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .hero-button {
    font-size: 3.5vw;
  }
}
.clockface-over-image {
  position: relative;
}
.filters {
  text-align: right;
  margin-bottom: 30px;
  font-size: 1.5em;
}
.filters button {
  font-family: "Viga", serif;
  font-size: 0.7em;
  padding: 0;
  margin-left: 5px;
  margin-right: 5px;
}
.option-active {
  border-bottom: 5px solid black;
}
.filters button:hover {
  border-bottom: 5px solid black;
}
.new {
  position: absolute;
  z-index: 1;
  top: -15px;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  font-size: 1.3em;
  background-color: #ff9505;
  text-transform: uppercase;
  border-radius: 10px;
  width: 30%;
}
.clockface-over-image-1-container {
  position: absolute;
  top: 36.5%;
  left: 38.3%;
  width: 24.3%;
}
.clockface-over-image-2-container {
  position: absolute;
  top: 36.5%;
  left: 68%;
  width: 14%;
}
.clockcolors {
  position: absolute;
  color: black;
  /* outline: 1px solid red; */
  top: 3%;
  left: 50%;
  width: 97%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.clockcolors-ionic {
  position: absolute;
  color: black;
  /* outline: 1px solid green; */
  top: 3%;
  left: 75%;
  width: 49%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.clockcolors .clockcolors-color {
  width: 25px;
}
.clockcolors button,
.clockcolors-ionic button {
  padding: 5px;
}
.clockcolors-ionic .clockcolors-color {
  width: 25px;
}

@media only screen and (max-width: 450px) {
  .hero-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .hero-text h1 {
    font-size: 50px;
  }
  .hero-text p {
    font-size: 24px;
  }
  .hero-text {
    text-align: center;
  }

  .hero-button {
    font-size: 24px;
  }
  .hero-content {
    text-align: center;
  }
}

footer {
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.6;
  color: white;
  margin-top: 50px;
  background-color: black;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;
}
footer p {
  font-style: normal;
}
.copyrigth {
  font-size: 10px;
}
footer ul {
  list-style-type: none;
  padding: 0;
}

footer li {
  margin-left: 5px;
  margin-right: 5px;
  display: inline;
}

footer a:active,
footer a:link,
footer a:visited {
  color: white;
}
footer a:hover {
  text-decoration: underline;
}
