@import url("https://fonts.googleapis.com/css?family=Vidaloka|Viga");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:500,700,900&display=swap");
@import "./colors";
@import "./variables";
html,
body,
div,
span,
applet,
object,
iframe,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: $hw-white-color;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.nav-section {
  margin-bottom: 10px;
  color: black;
  font-family: "Viga", serif;
}
.nav-link {
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  color: black;
}
.selected {
  border-bottom: 3px solid black;
}
.banner-subtext h2 {
  text-align: center;
  width: 80%;
  margin: 10px auto 0 auto;
}
a {
  text-decoration: none;
}
a,
button {
  cursor: pointer;
  background: none;
  border: none;
}

.clockface-details-grid {
  margin-top: 10px;
  grid-column-gap: 0.5%;
  grid-row-gap: 2%;
  display: grid;
  grid-template-columns: minmax(20%, 1fr) minmax(20%, 1fr);
}
.clockface-details-full {
  display: grid;
  border-radius: $hw-border-radius;
  box-shadow: $hw-box-shadow-lvl-2;
}
.clockface-details-l {
  grid-column: 1fr;
}
.clockface-details-r {
  border-radius: $hw-border-radius;
  box-shadow: $hw-box-shadow-lvl-2;
  grid-column: 1fr;
}
.clockface-details {
  padding: 30px;
  font-family: "Viga", serif;
}
.clockface-details h2 {
  text-align: left;
  font-size: 2.5em;
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 100;
}
.clockface-details h3 {
  margin-top: 10px;
  font-size: 2em;
  text-align: left;
  margin-bottom: 15px;
}
.clockface-details-description {
  text-align: left;
  line-height: 25px;
  font-size: 1.2em;
}
.clockface-details-stats {
  text-align: left;
  font-size: 1.2em;
}
.clockface-details-stats li {
  margin-bottom: 10px;
}

.upBtn {
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 50px;
  -webkit-box-shadow: 0px 0px 36px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 36px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 36px -10px rgba(0, 0, 0, 0.75);
}
.description-btn {
  display: block;
  text-align: center;
  margin: auto;
  margin-top: -10px;
  margin-bottom: 10px;
  position: relative;
  width: 50%;
}
.description-btn:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}
.description-btn span {
  color: black;
  position: absolute;
  font-family: "Viga", serif;
  font-size: 15px;
  top: 26%;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
}
.description {
  text-align: left;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 80%;
  margin: auto;
}
.description h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.description li {
  font-size: 1em;
  margin-bottom: 5px;
}
.sub-title {
  text-align: left;
  font-size: 2em;
  margin-bottom: 30px;
  margin-top: 50px;
  font-weight: normal;
}
.modal {
  color: black;
  z-index: 1 !important;
}
.modal-content h3 {
  font-size: 24px;
}
.modal-content p {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.App {
  text-align: center;
  display: grid;
}

header {
  grid-column: 1 / span2;
}
.grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}
.main-grid {
  display: grid;
}

.white {
  color: white;
}
.font-18 {
  font-size: 18px;
}

.wrapper-details {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  /* outline: 1px solid red; */
}
.hero {
  font-family: "Viga", serif;
  padding: 5% 0 5% 0;
  color: white;
  background-color: black;
  background-size: cover;
}
.hero h1 {
  color: white;
}
.hero-content {
  color: white;
}
.hero-grid {
  display: grid;
  grid-gap: 5%;
  grid-template-columns: 1fr 1fr;
}
.faq-grid {
  display: grid;
}
.faq-grid h1 {
  margin-top: 10px;
  text-align: center;
  font-size: 28px;
  font-family: "Viga", serif;
}
.tabs {
  font-family: "Viga", serif;
  text-align: left;
  margin-top: 30px;
}
.tabs li {
  display: inline;
  margin-right: 15px;
  font-family: "Viga", serif;
  font-size: 18px;
  cursor: pointer;
  padding: 0;
}

.react-tabs__tab--selected {
  border-bottom: 5px solid black;
}

.questoncard {
  text-align: left;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.questoncard h2 {
  font-size: 22px;
  font-family: "Viga", serif;
  margin-bottom: 10px;
}
.questoncard p {
  font-size: 16px;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.6;
}
.faqlink {
  text-decoration: underline;
  color: #279fcd;
  font-weight: bold;
}
.hero-image img {
  margin-top: 0;
  width: 100%;
  height: 100%;
}
.hero h1 {
  font-size: 70px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.hero-text {
  text-align: left;
}
.hero-text p {
  font-size: 24px;
  margin-bottom: 5px;
  margin-top: 5px;
  line-height: 1.5em;
}
.hero-button {
  margin-top: 3%;
  border: 0;
  font-size: 24px;
  padding: 2% 20%;
  text-align: center;
  font-family: "Viga", serif;
  color: white;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid white;
}
.hero-content {
  text-align: left;
}

.hero-button:hover {
  background-color: white;
  color: black;
}

.clock-button {
  font-family: "Viga", serif;
  border-radius: 10px;
}

.clockfaces-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
}
.clockface {
  position: relative;
  color: white;
  border-radius: $hw-border-radius;
  box-shadow: $hw-box-shadow-lvl-2;
}
.clockface-image {
  padding: 20px;
  position: relative;
}
.clockface-image .clockface-type {
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 0;
}
.clockface img {
  object-fit: cover;
  width: 100%;
}
.clock-button {
  background-color: transparent;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid black;
  color: black;
}

.clock-button:hover,
.clock-button--active {
  background-color: black;
  color: white;
}
.clockface-content {
  padding: 20px;
  text-align: left;
  font-size: 24px;
  background-color: black;
}
.clockface-content h3 {
  margin-bottom: 20px;
  text-align: center;
}
.clockface-downloadbtn {
  font-weight: bold;
  text-align: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 23px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 10px;
}

.clockface-downloadbtn:hover {
  color: black;
  background-color: white;
  border: 1px solid white;
}

.clockface-details-downloadbtn {
  margin-top: 7%;
  font-weight: bold;
  text-align: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 23px;
  background-color: white;
  border: 1px solid black;
  color: black;
  border-radius: $hw-border-radius;
}

.clockface-details-downloadbtn:hover {
  background-color: black;
  border: 1px solid black;
  color: white;
}

.ghost-loading {
  .ghost-loading-box {
    border-radius: $hw-border-radius;
    box-shadow: $hw-box-shadow-lvl-2;
    width: 100%;
    height: 300px;
    animation: pulse 1s infinite ease-in-out;
    background-color: $hw-grey-shade-lvl-2;
    opacity: 0.3;
    margin-bottom: 30px;
  }
  @media only screen and (min-width: 920px) {
    .ghost-loading-box {
      width: 30%;
      display: inline-block;
      margin-left: 30px;
    }
  }
}

@keyframes pulse {
  0% {
    background-color: rgba($hw-grey-shade-lvl-2, 0.1);
  }
  50% {
    background-color: rgba($hw-grey-shade-lvl-2, 0.3);
  }
  100% {
    background-color: rgba($hw-grey-shade-lvl-2, 0.1);
  }
}

@media only screen and (max-width: 920px) {
  .clockface-details h2 {
    text-align: center;
  }
  .clockface-details-full {
    margin-top: 7%;
  }
  .hero {
    background-size: cover;
  }
  .hero-text h1 {
    font-size: 8vw;
  }
  .hero-text p {
    font-size: 2.3vw;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .hero-button {
    font-size: 3.5vw;
  }
  .hero-image {
    margin-top: 22%;
    height: fit-content;
  }

  .clockface-details-l {
    order: 2;
    grid-column: 1 / -1;
  }
  .clockface-details-r {
    order: 1;
    grid-column: 1 / -1;
  }
}
.clockface-over-image {
  position: relative;
}
.filters {
  text-align: right;
  margin-bottom: 30px;
  font-size: 1.5em;
}
.filters button {
  font-family: "Viga", serif;
  font-size: 0.7em;
  padding: 0;
  margin-left: 5px;
  margin-right: 5px;
}
.option-active {
  border-bottom: 5px solid black;
}
.filters button:hover {
  border-bottom: 5px solid black;
}
.new p {
  position: absolute;
  z-index: 1;
  top: -15px;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  font-size: 1.3em;
  background-color: #ff9505;
  text-transform: uppercase;
  border-radius: 10px;
  width: 30%;
}
.clockface-over-image-1-container {
  position: absolute;
  top: 36.5%;
  left: 38.3%;
  width: 24.3%;
}
.clockface-over-image-2-container {
  position: absolute;
  top: 36.5%;
  left: 68%;
  width: 14%;
}
.clockcolors {
  position: absolute;
  color: black;
  top: 3%;
  left: 50%;
  width: 97%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.clockcolors-ionic {
  position: absolute;
  color: black;
  top: 3%;
  left: 75%;
  width: 49%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.clockcolors .clockcolors-color {
  width: 25px;
}
.clockcolors button,
.clockcolors-ionic button {
  padding: 5px;
}
.clockcolors-ionic .clockcolors-color {
  width: 25px;
}
