<footer class="footer">
  <hw-container>
    <div class="footer-container">
      <div class="col">
        <p>
          Want to know even more?</p>
        <br>
        <p>
          Use these links to navigate and find what you looking for.
        </p>
      </div>
      <div class="col">
        <h3>IMPORTANT LINKS</h3>
        <ul>
          <li><a
              href="https://kiezelpay.com/code/?s=21128EF3-D81C-C4A4-6B21-82C482CD1C6E&dsu=158823&p=7405-2318-1064-1413-8892-1023-1721">BUNDLES</a>
          </li>
          <li><a href="/privacy">PRIVACY POLICY</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <h3>HELPFUL LINKS</h3>
        <ul>
          <li><a href="https://gallery.fitbit.com/developer/12152438-2164-45e6-8de8-e408fb54f9a6">FITBIT GALLERY</a>
          </li>
          <li><a href="https://kiezelpay.com/faq/">K-PAY FAQ</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <h3>SOCIAL MEDIA</h3>
        <ul>
          <li><a href="https://www.instagram.com/_handywatch_/">INSTAGRAM</a>
          </li>
          <li><a href="https://www.facebook.com/handy.watch/">FACEBOOK</a>
          </li>
          <li><a href="https://twitter.com/handywatch">TWITTER</a>
          </li>
        </ul>
      </div>
    </div>
    <p class="cc">© {{todaysYear}} Explicit Dot. All rights reserved.</p>
  </hw-container>
</footer>